/*** custom variables ***/
:root {
    
    /* colors */
    --color-white: hsl(0, 0%, 100%);
    --color-dark: hsl(217, 12%, 63%);
    --color-accent: hsl(25, 97%, 53%);

    /*background colors*/
    --bg-white: hsl(0, 0%, 100%);
    --bg-accent: hsl(25, 97%, 53%);
    --bg-grey: hsl(216, 12%, 54%);
    --bg-dark: hsl(213, 19%, 18%);
    --bg-darkest: hsl(216, 12%, 8%);

    /* typography*/
    --ff-sans: 'Overpass', sans-serif;

    --fs-body: 15px;
    --fs-numbers: 17px;
    --fs-h: 26px;

    --fs-m-body: 14px;
    --fs-m-numbers: 13.5px;
    --fs-m-h: 23px;

    --fw-normal: 400;
    --fw-h: 590;
}

/*** reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** set-up ***/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 796px;
    max-width: 1440px;
    font-family: var(--ff-sans);
    font-size: var(--fs-body);
    font-weight: var(--fw-normal);
    background-color: var(--bg-darkest);
}

section {
    flex-direction: column;
    gap: 12px;
    width: 410px;
    height: 416px;
    padding: 33px;
    background-color: hsl(213, 19%, 18%, 0.65);
    border-radius: 32px;
}

/* rating */
section > * {
    flex-shrink: 0;
}

#rating[aria-hidden='false'] {
    display: flex;
}

#rating[aria-hidden='true'] {
    display: none;
}

.star-icon {
    background-image: url(./images/icon-star.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    aspect-ratio: 1;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg-dark);
}

h1 {
    margin-top: 18px;
    font-size: var(--fs-h);
    font-weight: var(--fw-h);
    color: var(--color-white);
}

p {
    line-height: 1.6;
    color: var(--color-dark);
}

.rating-buttons {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
}

.numbers {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    font-family: var(--ff-sans);
    font-size: var(--fs-numbers);
    font-weight: var(--fw-normal);
    text-align: center;
    color: var(--color-dark);
    border: 0;
    border-radius: 50%;
    background-color: var(--bg-dark); 
}

.numbers:hover, 
.numbers:focus {
    color: var(--color-white);
    background-color: var(--bg-accent);
    border: 2px solid var(--bg-darkest);
    cursor: pointer;
}

.numbers[aria-selected='true'] {
    color: var(--color-white);
    background-color: var(--bg-grey);
    border: 2px solid var(--bg-darkest);
    cursor: pointer;
}

#submit {
    margin-top: 6px;
    height: 50px;
    font-size: var(--fs-body);
    font-weight: var(--fw-normal);
    letter-spacing: 3px;
    color: var(--bg-white);
    text-transform: uppercase;
    background-color: var(--color-accent);
    border: 2px solid var(--bg-darkest);
    border-radius: 50px;
}

#submit:hover, 
#submit:focus {
    color: var(--bg-accent);
    background-color: var(--color-white);
    border: 2px solid var(--bg-darkest);
    cursor: pointer;
}

/* thank-you */
#thank-you[aria-hidden='false'] {
    display: flex;
    align-items: center;
}

#thank-you[aria-hidden='true'] {
    display: none;
}

.illustration {
    margin-top: 12px; 
}

.you-selected {
    margin-top: 13px;
    padding-top: 8px;
    padding-inline: 16px;
    padding-bottom: 5px;
    color: var(--color-accent);
    letter-spacing: 1px;
    background-color: var(--bg-dark);
    border-radius: 50px;
}

#thank-you > h1 {
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

#thank-you > p {
    padding-inline: 2px;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        min-height: 100vh;
        min-width: 100vw;
        max-width: 375px;
    }

    section {
        gap: 12px;
        width: 328px;
        height: 360px;
        padding: 24px;
        background-color: hsl(213, 19%, 18%, 0.65);
        border-radius: 15px;
    }

    .star-icon {
        width: 40px;
        height: 40px;
        background-size: 35%;
    }
    
    h1 {
        margin-top: 7px;
        font-size: var(--fs-m-h);
        font-weight: var(--fw-h);
        letter-spacing: 1px;
        color: var(--color-white);
    }
    
    p {
        font-size: var(--fs-m-body);
    }
    
    .rating-buttons {
        margin-top: 14px;
        margin-bottom: 0;
    }
    
    .numbers {
        width: 43px;
        height: 43px;
        font-size: var(--fs-m-numbers);
    }

    #submit {
        margin-top: 10px;
        height: 48px;
        font-size: var(--fs-m-body);
        letter-spacing: 2px;
    }

    .illustration > img {
        height: 84%; 
    }
    
    .you-selected {
        margin-top: -9px;
        padding-top: 8px;
        font-size: var(--fs-m-body);
        letter-spacing: 0;
    }
    
    #thank-you > h1 {
        margin-top: 16px;
        font-size: var(--fs-m-h);
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    #thank-you > p {
        margin-top: 0px;
    }
}

/*** footer ***/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.attribution {
    color: var(--color-dark);
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}



